<?xml version="1.0" encoding="utf-8" ?>
<churn.Properties.Settings>
  <setting name="IgnoredPaths" serializeAs="Xml">
    <value>
      <!--Specify ignored paths when getting data from the source control
          wildcards are allowed, e.g.
          <string>*/Content/*.less</string>-->      
      <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">        
      </ArrayOfString>
    </value>
  </setting>
</churn.Properties.Settings>